@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Edu NSW ACT Foundation', cursive;
    position: center;
}
body,html{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position:center;
}
body{
    background-image: url(https://tse1.mm.bing.net/th?id=OIP.AXBZr_O53r8MlELJqTNtqwHaE8&pid=Api&P=0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.center .like img{
    border-radius: 6%;
    width: 900px;
    height: 1100px;
    margin-top: 5%;
    object-fit: cover;
    object-position: 0;
    
}

.center{
    width: 60%;
    background-color: rgba(0,0,0,0.7);
    height: 90%;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    
}

.content{
    padding: 30px;
}
h1{
    color: wheat;
    font-size: 100px;
}

.content,p{
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1px;
    margin: 10px auto;
    font-size: 80px;
}